<h3>Custom Pipe - ToggleCase</h3>
<p>{{ fullName() | toggleCase : upperCase() }}</p>
<button class="btn btn-primary" (click)="toggleCase()">ToggleCase</button>

<hr />
<section>
  <h1>Custom Pipes</h1>
  <div class="d-flex gap-2 justify-content-end w-100">
    <button class="btn btn-primary">Name</button>
    <button class="btn btn-danger">Can Fly</button>
    <button class="btn btn-warning">Color</button>
    <button class="btn btn-secondary">Creator</button>
  </div>
</section>

<div class="table-responsive w-100">
  <table class="table w-100">
    <!-- head -->
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Can Fly</th>
      <th>Color</th>
      <th>Creator</th>
    </tr>
    </thead>
    <tbody>
    <!-- rows -->
    @for (hero of heroes(); track hero.id) {
      <tr>
        <th>{{ hero.id }}</th>
        <td>{{ hero.name }}</td>
        <td>{{ hero.canFly }}</td>
        <td>{{ hero.color }}</td>
        <td>{{ hero.creator }}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
