<h2>Reactive Validation</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name and surname</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="User name"
                 formControlName="name"
          >
          @if (formUtils.isInvalidField(myForm, "name")) {
            <span class="form-text text-danger">
             The field name is required (name and surname format)
            </span>
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 placeholder="User email"
                 formControlName="email"
          >
          @if (formUtils.isInvalidField(myForm, "email")) {
            <span class="form-text text-danger">
              {{ formUtils.getFieldError(myForm, "email") }}
            </span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="Username"
                 formControlName="username"
          >
          @if ( formUtils.isInvalidField(myForm, "username")) {
            <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "username") }}
          </span>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password"
          >
          @if ( formUtils.isInvalidField(myForm, "password")) {
            <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "password") }}
          </span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Confirm password"
                 formControlName="confirmPassword"
          >
          @if ( formUtils.isInvalidField(myForm, "confirmPassword")) {
            <span class="form-text text-danger">
            {{ formUtils.getFieldError(myForm, "confirmPassword") }}
          </span>
          }
          @if (myForm.errors && myForm.controls.confirmPassword.touched) {
            <span class="text-danger">
              Password must match.
            </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  type="submit"
                  [disabled]="myForm.invalid"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<h2>Form Valid: {{ myForm.valid | json }}</h2>
<h2>Form Status: {{ myForm.status | json }}</h2>
<h2>Form Pending: {{ myForm.pending | json }}</h2>
<h2>Form errors: {{ myForm.errors | json }}</h2>

<h5>Name</h5>
<pre>{{ myForm.controls.name.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls.email.errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls.username.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.controls.password.errors | json }}</pre>

<h5>Confirm</h5>
<pre>{{ myForm.controls.confirmPassword.errors | json }}</pre>

